---
layout: default
title: Program13
---
<div align="center" class="home">
  <h1 class="page-heading">Latest Tutorials</h1>
<hr width:100%; style="clear:both;" />
<br/>
 <ul class="post-list" type="circle">
    {% for post in site.posts %}
        {% if post.whatsit != null %}
        {% else %}
            {% if post.misc != null %}
            {% else %}
                <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                <h2>
                 | <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
                </h2>
                </li>
           {% endif %}
        {% endif %}
    {% endfor %}
    |
  </ul>
<br style="clear:both;" />
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
<br>
</div>
<br>
<hr width:100%; style="clear:both;" />
  <h1 class="page-heading">Whatsit?Pages</h1>
<hr width:100%; style="clear:both;" />
<br/>
<p>Whatsit?Pages Coming Soon</p>
<div class="posts">
<ul type="circle">
  {% for post in site.posts %}
    {% if post.whatsit == 'whatsit' %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
            </h2>
          </li>
    {% endif %}
    {% endfor %}
  </ul>
  <br style="clear:both;" />
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
<br />
<hr width:100%; style="clear:both;" />
  <h1 class="page-heading">Misc.</h1>
<hr width:100%; style="clear:both;" />
<br/>
<div class="posts">
  {% for post in site.posts %}
    {% if post.misc == 'misc' %}
        <ul type="circle">
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
            </h2>
          </li>
    {% endif %}
    {% endfor %}
  </ul>
  <br style="clear:both;" />
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
<br />
<br />
