
<!DOCTYPE html>
<link rel="stylesheet" href="http://programthirteen.com/commentpage.css"/>
<link rel="stylesheet" href="http://programthirteen.com/StyleSheet1.css"/>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>HTML5/CSS3 Threaded Comments Block</title>
<meta name="author" content="Jake Rocheleau">
<link rel="shortcut icon" href="http://www.webdesignerdepot.com/favicon.ico">
<link rel="icon" href="http://www.webdesignerdepot.com/favicon.ico">
<link rel="stylesheet" type="text/css" href="styles.css">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Wellfleet">
<!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body class="no-js">
<header>
   <a href="http://programthirteen.com/index.html"><img src="http://programthirteen.com/images/13-1.jpg" alt="" /></a>
</header>
<h1><ins><big><big>{{page.title}}</big></big></ins></h1>
<nav id="topNav" style="text-align: center;">
    <ul>
        <li class="dropdown">
            <a href="http://programthirteen.com/index.html" class="dropbtn">Home</a>
            <div class="dropdown-content">
            </div>
    </ul>

    <ul>
        <li class="dropdown">
            <a href="" class="dropbtn">Tutorials</a>
            <div class="dropdown-content">

                <a href="http://programthirteen.com/bash/index.html" title="Bash">Bash</a>

                <a href="http://programthirteen.com/python/index.html">Python</a>

                <a href="http://programthirteen.com/ruby/index.html" title="Ruby">Ruby</a>

                <a href="http://programthirteen.com/perl/index.html" title="Perl">Perl</a>

                <a href="http://programthirteen.com/servers/index.html" title="Servers">Servers</a>

                <a href="http://programthirteen.com/kali/index.html" title="Kali">Kali Linux</a>

            </div>


    </ul>

    <ul>
        <li class="dropdown">
            <a href="" class="dropbtn">Connect</a>
            <div class="dropdown-content">
                <a href="http://programthirteen.com/comments/index.html" title="Comments">Comments</a>
                <a href="http://programthirteen.com/Chat.html" title="Chat">ChatRoom</a>
                <a href="http://programthirteen.com/13Forum.html" title="13Forum">13Forum</a>
                <a href="http://programthirteen.com/Share.html" title="Share With Us">Add Your Files</a>
                <a href="http://yin7gxpet5c3bhes.onion/room/main?r=vcY_j0eo7Mzco_7upd3gnA.." target="_blank">Onion Chat</a>
                <a href="https://8ch.pl/program13/" target="_blank">13on8</a>
                <a href="https://discord.gg/WCnRvVc" target="b_blank">Join Us On Discord</a>
            </div>
    </ul>
    <ul>
      <li class="dropdown">
        <a href="" class="dropbtn">Contact Us</a>
        <div class="dropdown-content">
          <a href="http://programthirteen.com/contactus/index.html" title="Contact Us">Contact Us</a>
        </div>
    </ul>
</nav>
<br/>
<br/>
<br/>
<br/>
<hr/>
<br/>
<br/>
	        <script type="text/javascript">
		var headID = document.getElementsByTagName("head")[0];
		var newCss = document.createElement('link');
		newCss.rel = 'stylesheet';
		newCss.type = 'text/css';
		window._botUsername = '522955';
		window._botName = 'Bot13';
		newCss.href = "http://rebot.me/assets/css/bot.css";
		var newScript = document.createElement('script');
		newScript.src = "http://rebot.me/assets/js/bot.js";
		newScript.type = 'text/javascript';
		headID.appendChild(newScript);
		headID.appendChild(newCss);
		</script>

{{ content }}
</body>
<br/>
<br/>
<hr/>
<br />
    <footer>
        <p>Email: <a href="mailto:73RM1N41@programthirteen.com">Program13</a></p>
        <p>Program13&copy;2016<img src="http://programthirteen.com/images/13-1.jpg" height="33" width="33"/></p>
        <br/>
        <a href="https://www.youtube.com/channel/UCgiCjn4-DY37lKmNgPQlhaQ"><img src="http://programthirteen.com/images/youtube.png" width="30px" height="30px"/>
        <a href="https://github.com/Trey133"><img src="http://programthirteen.com/images/github.png" width="30px" height="30px"/>
        <a href="https://twitter.com/Program7h1r733n"><img src="http://programthirteen.com/images/twitter.png" width="30px" height="30px"/>
    </footer>
</html>
