---
layout: default
---
	        <script type="text/javascript">
		var headID = document.getElementsByTagName("head")[0];
		var newCss = document.createElement('link');
		newCss.rel = 'stylesheet';
		newCss.type = 'text/css';
		window._botUsername = '522955';
		window._botName = 'Bot13';
		newCss.href = "http://rebot.me/assets/css/bot.css";
		var newScript = document.createElement('script');
		newScript.src = "http://rebot.me/assets/js/bot.js";
		newScript.type = 'text/javascript';
		headID.appendChild(newScript);
		headID.appendChild(newCss);
		</script>
	    
{{ content }}
<br/>
<br/>
<hr/>
<br/>
<br/>
<h3 id="zz"><ins>References</ins><h3>
<a href="https://e-edu.nbu.bg/pluginfile.php/331752/mod_resource/content/0/Allan_and_Barbara_Pease_-_Body_Language_The_Definitive_Book.pdf" target="_blank">The Definitive Book Of Body Language By: Allan and Barbara Pease</a>
<br/>
<a href="http://www.enkivillage.com/body-language-examples.html" target="_blank">EnkiVillage Body Language Examples</a>
